*{
    box-sizing: border-box;
}
.Menu{
    position: relative;
    top: 3px;
    left: 150px;
    float : right;
    width: 60%;
    font-size: 20px;
    height: 10vh;
    margin-top: 40px;
}
.Home,.About,.Contact,.Addmission,.Faculty{
    display: inline;
    margin: 15px;
	background: darkgrey;
	padding: 15px;
	color: black;
	border-radius: 12px;
}
.header{
	height: 15vh;
	width: 100%;
	background-color: lightblue;
}
.logo{
	float: left;
	width: 20%;
}
.logo img{
	height: auto;
	width: 100%;
}
.sidebar{
	width: 25%;
	height: 73vh;
	float: left;
	background-color: yellow;
	text-align: center;
	padding: 30px;
	margin: 25px;
}
.sideobject{
	background-color: lightblue;
	height: 60px;
	font-size: 25px;
	margin: 20px;
	padding-top: 10px;
}
.main{
	width: 70%;
}
.footer{
	width: 100%;
	background: blue;
	font-size: 25px;
	text-align: center;
	color: white;
	padding: 20px;
}
.link{
	text-decoration: none;
}

td img{
	margin: 10px;
	width :200px;
}
body{
	background-repeat: no-repeat;
}
img:hover{
	 cursor:pointer;
	 border: 0.1px dotted black;
}