<!-- <form [formGroup]="myForm" (ngSubmit)="insert()">
    <table>
        <tr>
            <td>Enter CreatedAt</td>
            <td>:</td>
            <td><input type="text" formControlName="createdAt"/></td>
        </tr>
        <tr>
            <td>Enter Name</td>
            <td>:</td>
            <td><input type="text" formControlName="name"/></td>
        </tr>
        <tr>
            <td>Enter Avtar Url</td>
            <td>:</td>
            <td><input type="text" formControlName="avatar"/></td>
        </tr>
        <tr>
            <td>Enter Department</td>
            <td>:</td>
            <td><input type="text" formControlName="roll_no"/></td>
        </tr>
        <tr>
            <td>Enter Roll_no</td>
            <td>:</td>
            <td><input type="text" formControlName="city"/></td>
        </tr>
        <tr>
            <td>Enter Password</td>
            <td>:</td>
            <td><input type="text" formControlName="password"/></td>
        </tr>
        <tr>
            <td>Enter Username</td>
            <td>:</td>
            <td><input type="text" formControlName="username"/></td>
        </tr>
        <tr>
            <td>Enter id</td>
            <td>:</td>
            <td><input type="text" formControlName="id"/></td>
        </tr>
        <tr>
            <td colspan="3"><button type="submit"class="btn btn-primary"value="AddFaculty">AddFaculty</button></td>
        </tr>
    </table>
  </form>

  <hr/>

<img [src] = "PathToLogo" width="350px">
<div class="row">
    <div class="card" class = "col-md-2" *ngFor = "let stu of Students">
        <img [src]="stu.avatar" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Name: {{stu.name}}</h5>
        <p class="card-text">City: {{ stu.city }}</p>
        <p class="card-text">UserName: {{ stu.username }}</p>
        <p class="card-text">Password: {{ stu.password }}</p>
        <button class="btn btn-primary">delete</button>
        <button class="btn btn-secondary">Edit</button>
        </div>
    </div>
  </div>
crud Work! -->